<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>
<body>
    <h1>
        Please enter your Personal Information
    </h1>
    <form action="/users" method="post">
        <label for="firstName">
        First Name: <input type="text" name="firstName" value ="<%= locals.firstName %>">
        </label>
        <label for="lastName">
        Last Name: <input type="text" name="lastName" value ="<%= locals.lastName %>">
        </label>
        <p>Gender:</p>
        <label for="gender">
            <input type="radio" name="gender" value="female" <%= locals.gender ==='female' ? 'checked' : '' %>>
            Female
        </label>
        <label for="gender">
            <input type="radio" name="gender" value="male" <%= locals.gender ==='male' ? 'checked' : '' %>>
            Male
        </label>
        <label for="gender">
            <input type="radio" name="gender" value="other" <%= locals.gender ==='other' ? 'checked' : '' %>>
            Other
        </label>
        <br><br>
        <label for="age">
        Age: <input type="number" name="age" min="1" max="120" value ="<%= locals.age %>">
        </label><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>